:root {
  font-family: 'DM Sans', sans-serif;
  background-color: #edf2f8;
  color: #030303;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
